* {
    box-sizing: border-box
}

body {
    height: 100vh;
    width: 100vw;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header img {
    height: 40px;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

header img {
    left: 0;
}

#output--text textarea {
    background-color: rgb(241, 241, 241);
    width: 50vw;
    padding: 0;
}

#output--text {
    width: 50vw;
}

#input--text {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 50vw;
}

#input--text textarea {
    padding: 0;
}

#modal {
    position: absolute;
    background-color: white;
    color: black;
    width: 50%;
    height: fit-content;
    padding: 20px;
    z-index: 10;
}

.hidden {
    display: none;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: 5;
    cursor: pointer;
}

#open--modal {
    cursor: pointer;
}

.close--btn {
    position: absolute;
    right: 20px;
    top: 10px;
    cursor: pointer;
}


@media (max-width: 800px) {

    #input--text,
    #output--text,
    textarea {
        width: 90vw;
    }

    #output--text textarea {
        width: 90vw;
    }

    header {
        flex-direction: column;
        margin-top: 10px;
    }

    h1 {
        text-align: center;
    }

    body {
        justify-content: flex-start;
        margin: 0;
    }

    #modal {
        height: 90vh;
        width: 90vw;
        overflow: scroll;
        top: 18px;
    }
}